* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 
    Resoluciones trabajadas:
    - 1496x640 | Notebook
    - 1920x1080
*/

body {
    font-family: "Noto Sans", sans-serif;
}

:root { /* colores importantes */
    --color1: #dedede;
    --color2: #fe6b7e;
    --color3: #171a66;
    --color4: #faf8fd;
}

/* NAVBAR SECTION*/

.background-nav-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffff;
    height: 5rem;
    padding: 0 1rem;
}

.nav-link {
    display: flex;
    gap: 2rem;
}

.nav-link a {
    color: #9495bc;
}

.nav-link a, .nav-button a {
    text-decoration: none;
}

.nav-button a {
    font-weight: bold;
    border: solid 2px var(--color1);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: var(--color3);
    transition: 0.5s;
}

.nav-button a:hover {
    background: var(--color3);
    color: #ffffff;
    border: solid 2px var(--color3);
    transition: 0.5s;
}

.nav-link a:hover {
    color: var(--color3);

}

.nav-icon img {
    width: 60%;
}

/* HEADER SECTION */

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f9fc;
    height: 36rem;
    width: 72rem;
    margin: 1rem 0;
    border-radius: 4rem;
    gap: 5rem;
}

.header-text {
    width: 30rem;
}

.header-text h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 2rem 0;
    color: var(--color3);
}

.header-text p {
    font-size: 1rem;
    color: #737373;
    width: 28rem;
}

.header-text a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background: #fe6b7e;
    margin: 2rem 0;
    padding: 1rem;
    width: 12rem;
    border-radius: 1rem;
    font-weight: bold;
    transition: 0.5s;
}

.header-text a:hover {
    box-shadow: 0 10px 20px 0 #00000038;
    transition: 0.5s;
}

.header-images-section {
    display: flex;
    gap: 1rem;
}

.header-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.h-img {
    background: var(--color3);
    border-radius: 0.8rem;
    height: 7.5rem;
    width: 7.5rem;
}

.h-img2 {
    height: 16rem;
}

.img1 {
    background-image: url(../img/header-img/img1.png);
    background-size: cover;
}

.img2 {
    background-image: url(../img/header-img/img2.png);
    background-size: cover;
}

.img3 {
    background-image: url(../img/header-img/img3.png);
    background-size: cover;
}

.img4 {
    background-image: url(../img/header-img/img4.png);
    background-size: cover;
}

.img5 {
    background-image: url(../img/header-img/img5.png);
    background-size: cover;
}

.img6 {
    background-image: url(../img/header-img/img6.png);
    background-size: cover;
}

.img7 {
    background-image: url(../img/header-img/img7.png);
    background-size: cover;
}

/* MAIN SECTION */

.info-main-section {
    display: flex;
    justify-content: center;
    padding: 6rem;
    gap: 4rem;
}

.targets-section {
    display: flex;
    gap: 2rem;
}

.t-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: solid 1px var(--color1);
    border-radius: 1rem;
    padding: 3rem 1.5rem;
    width: 14rem;
    transition: 0.5s;
}

.t-info:hover {
    box-shadow: 0 0.5rem 1rem 0 #171a663c;
    transition: 0.5s;
}

.t-info img {
    width: 4rem;
}

.t-info h3 {
    color: var(--color3);
    font-weight: bold;
    margin: 1rem 0;
}

.t-info p {
    color: #9d9eba;
}

.icon-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.infomain {
    margin: 1rem 0 0 0;
    width: 22rem;
}

.infomain h2 {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    color: var(--color3);
    font-weight: bold;
}

.info1 {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #7f80a6;
}

.info2 {
    color: #9d9eba;
    margin-bottom: 4rem;
    font-size: 0.8rem;
    width: 17rem;
}

.info2-2 {
    text-decoration: none;
    color: #fe6b7e;
    margin: 0 0 0 1rem;
}

.info-button {
    font-weight: bold;
    text-decoration: none;
    border: solid 2px var(--color1);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: var(--color3);
    transition: 0.5s;
}

.info-button:hover {
    background: var(--color3);
    color: #ffffff;
    border: solid 2px var(--color3);
    transition: 0.5s;
}

/* ----------------------------------- */

.info-main-section2 {
    display: flex;
    justify-content: center;
    border-top: solid 1px var(--color1);
    padding: 6rem;
    gap: 4rem;
}

.infomain2 {
    width: 16rem;
}

.images2-section {
    display: flex;
    gap: 1.5rem;
}

.images2 {
    display: flex;
    border-radius: 1.5rem;
    height: 22rem;
    width: 16rem;
    transition: 0.5s;
}

.images2-img p {
    margin: 1rem 0 0 0;
    color: #9d9eba;
    font-size: 1.2rem;
}

.coronavirus {
    background-image: url(../img/img01.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.diagnostics {
    background-image: url(../img/img02.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.test {
    background-image: url(../img/img03.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ----------------------------------- */

.info-main-section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f9fc;
    height: 40rem;
}

.info-main-section3 h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.info-main3 {
    display: flex;
    gap: 2rem;
}

.info-main-text {
    display: flex;
}

.info-main-text img {
    max-width: 100%;
}
